* {
  box-sizing: border-box
}

body {
  background-color: #3c415e;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
    "title  title"
    "matrix instructions";
}

h1, h2, h3, h4, h5, h6 {
  color: #dfe2e2;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

#title{
  margin: 20px 0;
  font-size: 5em;
  font-weight: 100;
  letter-spacing: 4px;
  grid-area: title;
}

#title > #elm {
  font-weight: 900;

}

/****************GRID*******************/

#grid {
  table-layout: fixed;
  margin: auto;
  border-spacing: 6px;
  grid-area: matrix;
}

#grid td {
  overflow: hidden; 
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  padding: 0;
  border-radius: 2px;
  
  text-align: center;
  width: 50px;
  height: 50px;
}

#grid td.hidden {
  background-color: #738598;
}

#grid td:not(.hidden) {
  cursor: default;
  background-color: #dfe2e2;
}

#grid td.around-0 {
  cursor: default;
}

#grid td.around-1 {
  background-color: #aaffaabb;
}

#grid td.around-2 {
  background-color: #FFFACDBB;
}

#grid td.around-3 {
  background-color: #fdc65ebb;
}

#grid td.around-4 {
  background-color: #e2a22b;
}

#grid td.around-5,
#grid td.around-6,
#grid td.around-7,
#grid td.around-8 {
  background-color: #ff2e2eBB;
}

#grid img {
  display: block;
  margin: auto;
  width: 95%;
  height: 95%;
}

#too-many {
  color: red;
}

#grid .wrong-flag {
  outline: red solid 5px;
}

/***************************************/

#content {
  color: #dfe2e2;
  font-size: 30px;
  padding: 0 20px;
  grid-area: instructions;
}