* {
  box-sizing: border-box;
}

body {
  background-color: #696969;
}

main {
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  text-align: center;
}

#grid {
  table-layout: fixed;
  margin: auto;
}

#grid td {
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  border-radius: 3px;
  margin: 2px;
  border: 1px solid #C0C0C0;
  text-align: center;
  width: 50px;
  height: 50px;
}

#grid td.hidden {
  background-color: #999;
}

#grid td.around-0 {
  cursor: default;
  background-color: #D3D3D3;
}

#grid td.around-1 {
  background-color: #aaffaabb;
}

#grid td.around-2 {
  background-color: #FFFACDBB;
}

#grid td.around-3 {
  background-color: #fdc65ebb;
}

#grid td.around-4 {
  background-color: #e2a22b;
}

#grid td.around-5,
#grid td.around-6,
#grid td.around-7,
#grid td.around-8 {
  background-color: #ff2e2eBB;
}

#grid img {
  width: 95%;
  height: 95%;
}

#switch-button {
  display: inline-block;
  text-align: center;
  margin: 50px auto 0;
  font-size: 2em;
  width: 10em;
}